<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Lista</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8 col-xl-6 mt-4">
                <h1 class="text-center">Lista</h1>

                {% if edit_item %}
                <!-- Formularz aktualizacji -->
                <form action="{% url 'UpdateTodo' item_id=edit_item.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="todo" class="ms-2">Edytowana pozycja:</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="content"
                                   value="{{ edit_item.content }}"
                                   placeholder="Enter your todo item">
                            <button class="btn btn-info" type="submit">Aktualizuj</button>
                        </div>
                    </div>
                </form>
                {% else %}
                <!-- Formularz dodawania -->
                <form action="{% url 'addTodo' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="todo" class="ms-2">Dodaj nową pozycję:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="content" id="todo" placeholder="Wpis">
                            <button type="submit" class="btn btn-primary">Dodaj element</button>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8 col-xl-6">
                <table class="table">
                    <thead>
                        <tr class="d-flex">
                            <th scope="col" class="col-8">Pozycje listy:</th>
                            <th scope="col" class="col-4">Akcje:</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo in all_items %}
                        <tr class="d-flex">
                            <td class="col-8">{{ todo.content }}</td>
                            <td class="col-4 btn-group" role="group">
                                {% if edit_item and edit_item.id == todo.id %}
                                    <p>Edytujesz tą pozycję...</p>
                                    <a href="{% url 'todolist' %}">Anuluj</a>
                                {% else %}
                                    <a href="{% url 'EditTodo' item_id=todo.id %}" class="btn btn-primary">Edytuj</a>
                                    <a href="{% url 'DeleteTodo' item_id=todo.id %}" class="btn btn-danger">Usuń</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
